[Unit]
Description=Lemmy NHL Game Day Thread Bot
After=network-online.target
Wants=network-online.target

[Service]
User={{user}}
WorkingDirectory={{path to git repo}}/lemmy-nhl-gdt-bot
ExecStartPre=podman image prune -f
ExecStartPre=podman pull ghcr.io/dandroid126/lemmy-nhl-gdt-bot:main
ExecStart=podman run --rm --name lemmy-nhl-gdt-bot -e TZ={{timezone}} -v ./.env:/app/.env -v ./out:/app/out ghcr.io/dandroid126/lemmy-nhl-gdt-bot:main
ExecStop=podman stop lemmy-nhl-gdt-bot
ExecStopPost=podman container rm --force lemmy-nhl-gdt-bot
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
